body,
html {
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Red Rose", cursive;
  background-color: #aaaaaa;
  height: 120%;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
  background-image: url("../images/cheetah.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section h1 {
  font-size: 250%;
  text-align: center;
  margin-bottom: 0px;
}

.div {
  padding: 20px;
  width: 35%;
}
article {
  background-color: rgb(223, 219, 219);
  opacity: 70%;
  border: 3px solid yellow;
  color: black;
  margin: 10px 0px;
  padding: 10px;
  transition-duration: 0.5s;
}

.article-right {
  position: relative;
  left: 175%;
}
article:hover {
  transform: scale(1.02);
}

#footer {
  padding: 20px;
  border: 3px solid yellow;
  background-color: gray;
  text-align: center;
  transition-duration: 0.5s;
}

#footer:hover {
  transform: scale(1.02);
}

.footer-icon {
  color: black;
  font-size: 30px;
  padding: 10px 20px 20px 20px;
}
.footer-paragraph {
  color: orange;
  margin-top: 20px;
}

.footer-icon :hover {
  transform: scale(1.2);
}
